

@section head{
    <style type="text/css">
    body
    {        
       
        padding-top:20px;
        background-image:url('/images/img-1.jpg');
        background-size:cover;
        background-repeat:no-repeat; 
        image-resolution:3570x2789;
        margin:auto;
    }
    </style>
}
<a href="~/Manager/Product" class="btn btn-success">Fruits</a></td>

<a href="~/Manager/vege" class="btn btn-success" style="Margin-left:3%">Vegatables</a></td>


<a href="~/Manager/dairy" class="btn btn-success" style="Margin-left:3%">Dairy</a></td>

<center><h4>Fruits</h4></center>
<div class="mt-3" style="border-top:3px solid black "></div>

<div class="container mt-3 mb-3">
     <a href="~/Manager/Add" class="btn btn-success">Add Fruit</a>
</div>

<div class="container mt-3">

    <table class="table table-bordered table-hover mt-3">
        <tr class="bg-success text-white">
            <th>Id</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        @{
            try
            {
                if(TempData["Product"]!=null)
                {
                    foreach(var x in (List<SuperMarket.Models.Product>)TempData["Product"])
                    {
                        <tr>
                        <td>@x.Id</td>
                        <td>@x.ProductName</td>
                        <td>@x.ProductCategory</td>
                        <td>@x.Quantity.ToString(format:"#,##0.00")</td>
                        <td>@x.Price.ToString(format:"#,##0.00")</td>
                        <td>

                         <a href="~/Manager/Edit?id=@x.Id" class="btn btn-success">Edit</a>

                         <a href="~/Manager/Delete?id=@x.Id" class="btn btn-danger" style="margin-left:3%">Delete</a>

                        </td>
                        </tr>
                    }
                }
            }
            catch
            {
                
            }
        }
    </table>

</div>



@{
    try
    {
        if(TempData["EditMsg"] !=null)
        {
              <script>
                swal("Good job!", "Data Updated Sucecssfully!", "success");
           </script>
        }
    }
    catch
    {
        
    }
}

@{
    try
    {
        if(TempData["DeleteMsg"] !=null)
        {
              <script>
                swal("Good job!", "Data Deleted Sucecssfully!", "success");
           </script>
        }
    }
    catch
    {
        
    }
}
